@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
main {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  /* background-color: rgb(22, 19, 19); */
  background-color: rgb(9, 9, 17);
  color: whitesmoke;
  font-size: min(2rem, 5vw);
  font-family: "Righteous", cursive, Arial, Helvetica, sans-serif;
  text-align: center;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: visible;
}

.info {
  font-size: 2.3em;
}

.info > span {
  position: relative;
  top: -25px;
  font-size: 0.45em;
  text-decoration: overline;
}
.info a {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: whitesmoke;
}

.clickable:hover {
  transition: color ease-in-out 0.3s;
  color: rgb(124, 120, 120);
}

#overlay {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  width: 110vw;
  height: 130vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

#overlayContent {
  overflow: hidden;
  z-index: 2001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

iframe {
  aspect-ratio: 16 /9;
  width: 80vw;
  height: auto;
}

.bottom {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
}

@media (min-width: 1000px) {
  iframe {
    width: 60vw;
  }
}

@media ((max-height: 750px)) {
  section {
    transform: scale(1);
  }
  section .info {
    display: none;
  }
}
